In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.Series([2,3,4])

0    2
1    3
2    4
dtype: int64

In [3]:
n=pd.DataFrame(np.arange(2,22).reshape(4,5),columns=list('abcde'),index=['r1','r2','r3','r4'])
n

     a   b   c   d   e
r1   2   3   4   5   6
r2   7   8   9  10  11
r3  12  13  14  15  16
r4  17  18  19  20  21

In [4]:
n1 = pd.DataFrame([[np.nan,3,4,np.nan],[np.nan,3,5,4],[np.nan,34,2,4],[np.nan,45,34,np.nan]],columns=list('ABCD'))
n1

    A   B   C    D
0 NaN   3   4  NaN
1 NaN   3   5  4.0
2 NaN  34   2  4.0
3 NaN  45  34  NaN

In [5]:
n1 = pd.DataFrame([[np.nan,3,4,np.nan],[np.nan,3,5,4],[np.nan,34,2,4],[np.nan,45,34,np.nan]],columns=list('ABCD'))
n1

    A   B   C    D
0 NaN   3   4  NaN
1 NaN   3   5  4.0
2 NaN  34   2  4.0
3 NaN  45  34  NaN

In [6]:
newn1=n1.rename(columns={'A':'P','B':'Q','C':'R','D':'S'},inplace=true)
newn1

NameError: name 'true' is not defined

In [ ]:
n

In [ ]:
n.describe().round(2)

In [ ]:
df2 = pd.DataFrame(data=[[2,3,4,5,'hi'],[3,4,5,6,'hello'],[2,6,7,5,'all']],columns=['c1','c2','c3','c4','c5'],index=['r1','r2','r3'])
df2

In [ ]:
df2.describe(include=['object'])

In [ ]:
df2.describe(include=['number']).round(2)

In [ ]:
df2.describe(include='all')

In [ ]:
j1=pd.read_csv(r'C:/data set/testt.csv')
j1

In [ ]:
j1.tail()

In [ ]:
j1.loc[2:5,'state']

In [ ]:
j1['country']=""
j1

In [ ]:
j1.loc[6,'city']

In [ ]:
j1.loc[8]=np.nan
j1

In [ ]:
q=j1.append(pd.Series(),ignore_index='true')
q

In [ ]:
q.country='usa'
q

In [ ]:
q['country']=['usa','france']*5
q

In [ ]:
w=q.replace('usa','united states')
w

In [ ]:
#convert dataframe into csv

In [ ]:
w.to_csv('updated.csv')   # this updated file will appear in jupyter home page
w.to_csv('C:\data set/updated.csv')  # this will be in folder path

In [ ]:
n2=pd.DataFrame({'start_year':[2001,2002,2003,2004,2004],
            'end_year':[2009,1997,1998,2013,2021]})
n2

In [ ]:
def get_new_value(x):
    if x>2002:
        return x+10
    else:
        return x
get_new_value(2009)

In [ ]:
n2['start_year'].map(get_new_value)

In [ ]:
n2['start_year'].map(lambda x: x+10 if x>2004 else x)

In [ ]:
#.apply() which works on both row and column

In [ ]:
n3=n2['new_year']=n2['end_year'].map('get_new_value')
n3

In [ ]:
red=pd.read_csv('C:\data set/redwine.csv',sep=";")
red

In [ ]:
white=pd.read_csv('C:\data set/whitewine.csv',sep=";")
white

In [ ]:
red.head()

In [ ]:
red.tail()

In [ ]:
white.head()

In [ ]:
white.tail()

In [ ]:
#select data using labels
print(red['alcohol'].head())
print(red.quality.head())

In [ ]:
red[['quality','fixed acidity','citric acid']].head()

In [ ]:
red.head()

In [ ]:
red.loc[0,'fixed acidity']

In [ ]:
red.iloc[0,0]

In [ ]:
red[0:1]['fixed acidity']

In [ ]:
red.iloc[0:5,1:5]

In [ ]:
red.loc[0:4,'volatile acidity':'residual sugar']

In [ ]:
red.info()

In [ ]:
red.shape

In [ ]:
white.columns

In [ ]:
red.head()

In [ ]:
red.loc[2,'residual sugar']

In [ ]:
red[red['residual sugar']==2.3].head()

In [ ]:
red[(red['residual sugar']==2.3)&(red['total sulfur dioxide']>=100)].head()

In [ ]:
red[(red['alcohol']<10) & (red['fixed acidity']<=8)]

In [ ]:
red[(red['quality']==5)|(red['quality']==8)].head()  #slow method

In [ ]:
red[red['quality'].isin([5,8])].head()   #fast method

In [ ]:
red['fixed acidity'].sort_values().head()

In [ ]:
red.sort_values('fixed acidity',ascending='true').head()

In [ ]:
k=red['pH'].rank().head()
k

In [ ]:
red['color']='red'
red

In [ ]:
wine=white.append(red).head()
wine

In [ ]:
red['color'].value_counts()

In [ ]:
r=pd.concat([red,white],axis=0)
r.head()

In [ ]:
r.columns.str.replace(' ','_')