In [5]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_excel(r'C:\Users\admin\Desktop\dataa.xlsx')

In [7]:
df

   profit  profit1
0     100      100
1      20       20
2     300      300
3     400      400
4   -2500    -2500
5     -25      -25
6      23       23
7     -56      -56
8       2        2

In [10]:
df['profit']=df[df['profit']>0]

In [11]:
df

   profit  profit1
0   100.0      100
1    20.0       20
2   300.0      300
3   400.0      400
4     NaN    -2500
5     NaN      -25
6    23.0       23
7     NaN      -56
8     2.0        2

In [16]:
df = df.dropna()

In [17]:
df

   profit  profit1
0   100.0      100
1    20.0       20
2   300.0      300
3   400.0      400
6    23.0       23
8     2.0        2